**/Archivos_Documento
**/Archivos_Estados_Financieros
**/Archivos_Estrategia
**/Archivos_Indicadores_Direccion
**/Archivos_Pedidos
**/Archivos_RH
**/Archivos_Reportes_Bancarios
**/Archivos_Reportes_Diarios
**/Archivos_Reportes_Especiales
**/Archivos_Reportes_Financieros
**/Docu
**/Febrero 24
**/img_mapas
**/img_personas
**/Indicadores
**/Reportes_Diarios

__access_data.php
__settings.php

Archivos_Secciones/Mision.txt
Archivos_Secciones/Politica_Calidad.txt
Archivos_Secciones/Valores.txt
Archivos_Secciones/Vision.txt
Archivos_Secciones/contaetctos_txt.txt
Archivos_Secciones/linea_introd.txt

/*.txt
/*.xlsx

error_log
Thumbs.db
